[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

django = "==1.11.5"
"django-bootstrap3" = "*"
"django-braces" = "*"
pymysql = "*"
gunicorn = "*"
"factory-boy" = "*"
faker = "*"


[dev-packages]