[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.1.7"
"django-bootstrap3" = "*"
"django-braces" = "*"
pymysql = "*"
gunicorn = "*"
"factory-boy" = "*"
faker = "*"

[dev-packages]
pylint = "*"
pylint-django = "*"
rope = "*"
coverage = "*"

[requires]
python_version = "3.6"

[scripts]
production = "gunicorn --config deploy/gunicorn.conf skapsystem.wsgi:application"
