{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}

<p>Bokskapene i rommene CU1-111, CU2-021 og EU1-110 i Realfagbygget blir administrert av <a href="https://nabla.no">Linjeforeningen Nabla</a>.</p>
<p>Hvis du vil ha et skap må du gå til ett av disse rommene, sette på en hengelås og registrere deg her.</p>
<p>
    Ta kontakt med <a href="mailto:sekretaer@nabla.ntnu.no">sekretaer@nabla.ntnu.no</a>
    eller <a href="mailto:webkom@nabla.ntnu.no">webkom@nabla.ntnu.no</a> for hjelp.
</p>

{% include "warning_include.html" %}

<p class="alert alert-danger">
   NB! Skapene som er registrert på rom EU1-110 står på rom CU1-111.
   Hvilket rom skapet er registrert på står på skapet.
   Det er derfor veldig vikitg at du skjekker hvilket rom skapet er registrert på.
</p>

<form class="col-md-6" method="post" >
    <legend>Velg skap</legend>
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-primary">
        Velg skap
    </button>
</form>


{% endblock %}
