{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}

{% include "warning_include.html" %}

<p>For å registrere skapet fyller du ut skjemaet nedenfor, og bekrefter
registreringen ved å trykke på lenken som blir sendt til din
<strong>@stud.ntnu.no</strong> epostadresse.</p>

<form method="post" >
    <fieldset>
        <legend>Registrer skap</legend>
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-tag glyphicon-white"></span>
            Registrer skap
        </button>
    </fieldset>
</form>

{% endblock %}
