{% extends "base.html" %}

{% block content %}
<h2>Bokskapreglement ved NT-Fakultetet	</h2>

<p>Oppdatert juli 2012</p>

<ol>
    <li>
        Et hvert bokskap som står tomt, uten lås og navnemerking, kan tas i bruk.
        Studenten må selv skaffe hengelås til skapet før registrering.
    </li>
    <li>
        Hver student kan maksimalt ha tre bokskap.
        Dersom man av særskilte grunner skulle ha behov for flere skap enn dette
        kan man kontakte linjeforeningen, som vil vurdere saken.
    </li>
    <li>
        Registrering av bokskap hos linjeforeningen skal skje snarest etter at skapet er låst.
        Alle bokskap må registreres på nytt hvert studieår, etter høstens semesterstart.
    </li>

    <li>
        Bokskapene vil bli kontrollert hvert år, fortrinnsvis i løpet av
        de to første ukene i høstsemesteret (uke 33-34).
    </li>
    <li>
        Skap som ikke er registrert ved kontrollen vil få påhengt en påminnelse om at skapet må registreres.
        To uker etter at påminnelsen er hengt opp,
        vil låsen bli klippet og skapet tømt hvis registrering ennå ikke har skjedd.
    </li>
    <li>
        Ved klipping vil det til enhver tid være minst to representanter fra linjeforeningen til stede.
        Alt innhold i skapet vil bli notert og lagt i en oppbevaringspose med skapnummer samt tidspunkt for klippingen,
        som så legges på eget oppbevaringsrom på kontoret til linjeforeningen.
    </li>
    <li>
        For å få tilbake eiendeler an hadde i skapet,
        må studenten henvende seg på linjeforeningskontoret og framvise legitimasjon.
        Så langt det er praktisk mulig vil to representanter være tilstede ved henting av eiendelene.
        Eier og linjeforeningsrepresentanter kvitterer for avhenting av eiendeler.
    <li>
        Eiendeler som blir lagt på oppbevaringsrommet, vil bli liggende der i et halvt år etter klipping.
        Når et halvt år er gått, vil uavhentede ting bli gitt bort eller kastet.
        Unntak: organisk materiale vil bli kastet umiddelbart.
    </li>
    <li>
        Verdigjenstander oppbevares av studentens eget fulle ansvar i skapet.
        Det anbefales ikke å oppbevare verdigjenstander i skapet.
    </li>
    <li>
        Det er forbudt å oppbevare helseskadelige, brannfarlige og andre skadelige
        eller potensielt skadelig stoffer i skapet.
    </li>
</ol>

{% endblock content %}
