{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}

<form method="post" >
    <fieldset>
        <legend>Registrer skap</legend>
        {% csrf_token %}
        {% bootstrap_form form %}
	
	<label>
	  <input type="checkbox" required>
	  Det er ingen lås på skapet og skapet er tomt.
	</label><br />

	<label>
	  <input type="checkbox" required>
	  Jeg har satt på egen lås.
	</label><br />

	<label>
	  <input type="checkbox" required>
	  Jeg har skjekket at det står riktig romnummer øverst på mitt skap.
	</label><br />
	<p><strong>Merk:</strong> Skapene som er registrert på rom <i>EU1-110</i> er fysisk i rom <i>CU1-111</i>, det er derfor veldig viktig at du kontrollerer dette.</p>
	
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-tag glyphicon-white"></span>
            Registrer skap
        </button>
    </fieldset>
</form>

{% endblock %}
