<p>Ettersom det er starten på et nytt semester har eierskapet til alle
bokskap blitt tilbakestilt. Trykk på denne linken <br>
<a href='{{ confirmation_url }}'>{{confirmation_url}}</a>
dersom du ønsker å beholde {{ locker_number }} i {{room }} neste semester. </p>


<p>(Hvis du ikke ønsker å beholde bokskapet neste semester, kan du bare se bort fra
denne emailen.)</p>

{% include "warning_include.html" %}

Hilsen
Linjeforeningen Nablas bokskapsystem.
<hr>
PS:Ikke svar på denne eposten. Hvis du har spørsmål send epost til
sekretaer@nabla.ntnu.no eller webkom@nabla.ntnu.no.
