[Unit]
Description=bokskap daemon
After=network.target

[Service]
User=bokskap
Group=webapps
WorkingDirectory=/srv/bokskap
# ExecStart=/usr/bin/env pipenv run production
ExecStart=/var/websites/bokskap/.pyenv/shims/pipenv run production

[Install]
WantedBy=multi-user.target
