{% load static %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/spacelab/bootstrap.min.css" rel="stylesheet">
    <title>
        {% block title %}Registrering av skap i Realfagbygget{% endblock title %}
    </title>
    <style>
    li {
        margin: 1em 0;
    }
    </style>
</head>
<body>
    <div class="container">
        <h1>Registrering av skap i Realfagbygget</h1>
        <nav class="navbar navbar-default">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
                    <li class="dropdown">
                        <a href="#om" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-list"></span>
                            Skaplister
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" >
                            <li><a href="{% url "list_lockers" room="CU1-111" %}">Rom CU1-111</a></li>
                            <li><a href="{% url "list_lockers" room="CU2-021" %}">Rom CU2-021</a></li>
                            <li><a href="{% url "list_lockers" room="EU1-110" %}">Rom EU1-110</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="{% url "locker_rules" %}">
                            <span class="glyphicon glyphicon-info-sign"></span>
                            Skapregler
                        </a>
                    </li>
                    <li>
                        <a href="{% url "locker_reminder" %}">
                            Glemt skapnummer?
                        </a>
                    </li>
                    <li>
                        <a href="/unregister_form">
                            Avregistrer bokskap
                        </a>
                    </li>

                </ul>
            </div>
        </nav>

        {% bootstrap_messages %}

        {% block content %}
        {% endblock content %}
    </div>
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>

