{% extends "base.html" %}

{% block content %}

<p>For å registrere skapet fyller du ut skjemaet nedenfor, og bekrefter
registreringen ved å trykke på lenken som blir sendt til din
<strong>@stud.ntnu.no</strong> epostadresse.</p>

<form method="post" >
    <fieldset>
        <legend>Registrer skap</legend>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">
            <span class="icon icon-tag icon-white"></span>
            Register skap</button>
    </fieldset>
</form>

{% endblock %}
